<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{>links}}
    <title>About Mike Smith</title>
  </head>
  <body>
    {{>header}}
    <main>
      <section class="about">
        <div class="about__bio-img">
          <div class="about__bio">
            <h2 class="text-secondary">BIO</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam
              amet odio tempore at qui id culpa corporis, dolor molestiae enim
              recusandae Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, officia?
            </p>
          </div>
        </div>
        <div class="jobs">
          <div class="jobs__job">
            <h2 class="text-secondary">2019 - Current</h2>
            <h3>Google</h3>
            <h6>Full Stack Developer</h6>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Obcaecati nostrum qui fugit eos. Pariatur repellat autem magni
              voluptates, nihil consequuntur.
            </p>
          </div>
          <div class="jobs__job">
            <h2 class="text-secondary">2017 - 2019</h2>
            <h3>Microsoft</h3>
            <h6>Front End Developer</h6>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Obcaecati nostrum qui fugit eos. Pariatur repellat autem magni
              voluptates, nihil consequuntur.
            </p>
          </div>
          <div class="jobs__job">
            <h2 class="text-secondary">2014 - 2017</h2>
            <h3>Amazon</h3>
            <h6>Front Ent Developer</h6>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Obcaecati nostrum qui fugit eos. Pariatur repellat autem magni
              voluptates, nihil consequuntur.
            </p>
          </div>
        </div>
        {{>social_icons}}
        {{>footer}}
      </section>
    </main>

    <script src="./js/app.js"></script>
  </body>
</html>
