<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{>links}}
    <title>Mike Smith's Projects</title>
  </head>
  <body>
    {{>header}}
    <main>
      <section class="projects">
        <div class="projects__img">
         <h1 class="text-secondary">My Projects</h1>
        </div>
        <div class="projects__items">
            <div class="projects__item">
                <img src="./images/project-1.jpg" alt="projects">
                <div class="projects__btns">
                    <a href="" class="projects__btn">
                        <i class="fas fa-eye"></i>Preview
                    </a>
                    <a href="" class="projects__btn">
                        <i class="fab fa-github"></i>Github
                    </a>
                </div>
            </div>
            <div class="projects__item">
                <img src="./images/project-2.jpg" alt="projects">
                <div class="projects__btns">
                    <a href="" class="projects__btn">
                        <i class="fas fa-eye"></i>Preview
                    </a>
                    <a href="" class="projects__btn">
                        <i class="fab fa-github"></i>Github
                    </a>
                </div>
            </div>
            <div class="projects__item">
                <img src="./images/project-3.jpg" alt="projects">
                <div class="projects__btns">
                    <a href="" class="projects__btn">
                        <i class="fas fa-eye"></i>Preview
                    </a>
                    <a href="" class="projects__btn">
                        <i class="fab fa-github"></i>Github
                    </a>
                </div>
            </div>
            <div class="projects__item">
                <img src="./images/project-4.jpg" alt="projects">
                <div class="projects__btns">
                    <a href="" class="projects__btn">
                        <i class="fas fa-eye"></i>Preview
                    </a>
                    <a href="" class="projects__btn">
                        <i class="fab fa-github"></i>Github
                    </a>
                </div>
            </div>
            <div class="projects__item">
                <img src="./images/project-5.jpg" alt="projects">
                <div class="projects__btns">
                    <a href="" class="projects__btn">
                        <i class="fas fa-eye"></i>Preview
                    </a>
                    <a href="" class="projects__btn">
                        <i class="fab fa-github"></i>Github
                    </a>
                </div>
            </div>
            <div class="projects__item">
                <img src="./images/project-6.jpg" alt="projects">
                <div class="projects__btns">
                    <a href="" class="projects__btn">
                        <i class="fas fa-eye"></i>Preview
                    </a>
                    <a href="" class="projects__btn">
                        <i class="fab fa-github"></i>Github
                    </a>
                </div>
            </div>
        </div>
        {{>social_icons}}
        {{>footer}}
      </section>
    </main>

    <script src="./js/app.js"></script>
  </body>
</html>
